<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <%= simple_form_for(@ride) do |f| %>
    <%= f.input :distance_target %>
    <%= f.input :average_speed %>
    <%= f.submit %>
  <% end %>
